.chat {
  display: flex;
  flex-direction: column;
  flex: 2;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  height: 100%;
}

/* TOP OF CHAT  */

.top {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #333;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userInfo > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text > span {
  font-size: 16px;
  font-weight: bold;
}

.text p {
  font-size: 16px;
  font-weight: 500;
}

/* CENTER OF CHAT  */
.center {
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: scroll;
  overflow-x: hidden;
}

.message {
  max-width: 70%;
  display: flex;
  gap: 20px;
}
.message > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.message p {
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
}

.message span {
  font-size: 12px;
}

.message .text-message {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text-message > img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.own {
  align-self: flex-end;
}

.own p {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.center::-webkit-scrollbar {
  width: 10px;
}

.center::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.center::-webkit-scrollbar-thumb {
  background: #888;
}

/* BOTTOM OF CHAT */

.bottom {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid #333;
  gap: 20px;
}

.bottom input {
  flex: 1;
  background-color: #fff;
  border: none;
  outline: none;
  color: #333;
  padding: 15px;
  border-radius: 10px;
  font-size: 16px;
}

.sendBtn,
.randomJoke {
  background-color: var(--buttons);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.emoji {
  position: relative;
}

.emoji > .picker {
  position: absolute;
  left: 0;
  bottom: 40px;
}
